build
dist / media
node_modules
.DS_Store
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml

# Environment variables
.env
.env.*

# Local development
sample-landing-page.*
.env*.local
